In [2]:
import pandas as pd
movies = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/movies2.csv')
movie_to_genres = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/tmdb_movie_to_genres.csv')

m = movie_to_genres['genres'] == 'Family'
family = movie_to_genres[m].head(3)

m = movie_to_genres['genres'] == 'Comedy'
comedy = movie_to_genres[m].head(3)

family_comedy = family.merge(comedy, on='movie_id', how='outer', 
                             suffixes=('_fam', '_com'))

family_comedy

   movie_id genres_fam genres_com
0    286875     Family        NaN
1     14612     Family        NaN
2     14059     Family        NaN
3    214756        NaN     Comedy
4    257211        NaN     Comedy
5    271718        NaN     Comedy