In [1]:
import pandas as pd
grants = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/Small_Business_Grant_Agreements.csv')

grants.head()

            address      zip     grant                     company
0      745 S Kedzie  60007.0     44600            NJ Hot Dog Stand
1      721 S Kedzie  60007.0     50000               LaShaun Dumas
2       810 S Tripp  60007.0     50000       Kelly's Banquet Hall
3       3946 W 16th  60007.0  17661.98  Creative Salon 1 Creative
4  3600 W Roosevelt  60007.0   23445.5            Lawndale Medical