In [2]:
import pandas as pd
grants = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/Small_Business_Grant_Agreements3.csv')

grants.head()

               address    zip     grant                      company
0          711 W Grand  60469  121518.6  Emerald Smoke MMA & Fitness
1        940 W Chicago  60469   34465.2        Empire Cooler Service
2        940 W Chicago  60469    4612.5        Empire Cooler Service
3        940 W Chicago  60469   39077.7        Empire Cooler Service
4  415 North Milwaukee  60469   22420.5              Paramount Rooms