In [2]:
import pandas as pd
grants = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/Small_Business_Grant_Agreements.csv')
licenses = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/licenses.csv')

grants_licenses = grants.merge(licenses, on='zip')
grants_licenses.loc[grants_licenses['business']=="REGGIE'S BAR & GRILL",
                   ['grant', 'company', 'account', 'ward', 'business']]

            grant                company  account  ward              business
1031980  42937.04       Grandstand, Ltd.   307071     3  REGGIE'S BAR & GRILL
1032178   5831.25       Grandstand, Ltd.   307071     3  REGGIE'S BAR & GRILL
1032376       743   REGGIE'S BAR & GRILL   307071     3  REGGIE'S BAR & GRILL
1032574       775          DIM SUM HOUSE   307071     3  REGGIE'S BAR & GRILL
1032772       638             NAP'S BOWL   307071     3  REGGIE'S BAR & GRILL
...           ...                    ...      ...   ...                   ...
1070590       NaN             KEMPNER CO   307071     3  REGGIE'S BAR & GRILL
1070788       864      Swap-O-Rama, Inc.   307071     3  REGGIE'S BAR & GRILL
1070986       NaN        HENSLEY COMPANY   307071     3  REGGIE'S BAR & GRILL
1071184       864      QUON YICK FOOD CO   307071     3  REGGIE'S BAR & GRILL
1071382       775  HAROLD'S CHICKEN # 71   307071     3  REGGIE'S BAR & GRILL

[200 rows x 5 columns]