In [1]:
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs.groupby(['color', 'breed'])[['weight_kg', 'height_cm']].mean()

                   weight_kg  height_cm
color breed
Black Labrador            29         59
      Poodle              24         43
Brown Chow Chow           24         46
      Labrador            24         56
Gray  Schnauzer           17         49
Tan   Chihuahua            2         18
White St. Bernard         74         77