In [8]:
import pandas as pd

df = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/6SeabornDataVisualization/masculinity.csv', 
                 low_memory=False)
                 
df.head()

   participant_id        age how_masculine      how_important
0             1.0    35 - 64      Somewhat           Somewhat
1             2.0  65 and up      Somewhat           Somewhat
2             3.0    35 - 64          Very  Not too important
3             4.0  65 and up          Very  Not too important
4             5.0    35 - 64          Very               Very