In [2]:
import pandas as pd

stocks = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/stocks.csv')

stocks.query('nike > 90 and disney < 140')

         date      disney       nike
2  2019-09-01  130.320007  93.919998
6  2020-01-01  138.309998  96.300003

In [4]:
stocks.query('nike > 96 or disney < 98')

         date      disney        nike
5  2019-12-01  144.630005  101.309998
6  2020-01-01  138.309998   96.300003
8  2020-03-01   96.599998   82.739998