In [1]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs_srt = dogs.set_index(['breed', 'color']).sort_index()

dogs_srt.loc[:, 'name':'height_cm']

                      name  height_cm
breed       color
Chihuahua   Tan     Stella         18
Chow Chow   Brown     Lucy         46
Labrador    Black      Max         59
            Brown    Bella         56
Poodle      Black  Charlie         43
Schnauzer   Gray    Cooper         49
St. Bernard White   Bernie         77