In [1]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs_srt = dogs.set_index(['breed', 'color']).sort_index()

dogs_srt.loc[('Labrador', 'Brown'):('Schnauzer', 'Grey')]

                    name  height_cm  weight_kg date_of_birth
breed     color
Labrador  Brown    Bella         56         24    2013-07-01
Poodle    Black  Charlie         43         24    2016-09-16
Schnauzer Gray    Cooper         49         17    2011-12-11