In [1]:
import pandas as pd
new_dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/new_dogs.csv')

new_dogs['bmi'] = new_dogs['weight_kg'] / (new_dogs['height_cm'] / 100) ** 2

new_dogs

     name      breed  height_cm  weight_kg date_of_birth         bmi
0  Ginger  Dachshund         22         10     3/14/2019  206.611570
1   Scout  Dalmatian         59         25      5/9/2019   71.818443