In [1]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs_ind2 = dogs.set_index('breed')

dogs_ind2.loc['Labrador']

           name  color  height_cm  weight_kg date_of_birth
breed
Labrador  Bella  Brown         56         24    2013-07-01
Labrador    Max  Black         59         29    2017-01-20