In [1]:
import pandas as pd
movies = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/movies2.csv')
movie_to_genres = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/tmdb_movie_to_genres.csv')

m = movie_to_genres['genres'] == 'Family'
family = movie_to_genres[m].head(3)

family

      movie_id  genres
887     286875  Family
1360     14612  Family
2951     14059  Family

In [3]:
m = movie_to_genres['genres'] == 'Comedy'
comedy = movie_to_genres[m].head(3)

comedy

    movie_id  genres
26    214756  Comedy
51    257211  Comedy
69    271718  Comedy