In [4]:
import pandas as pd

air_df_mean = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/6SeabornDataVisualization/air_df_mean.csv')

air_df_mean.head()

   hour  NO_2_mean
0     1  40.826087
1     1  40.826087
2     1  40.826087
3     1  40.826087
4     1  36.000000