In [1]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs = dogs.set_index('date_of_birth').sort_index()

#Get dogs with date of birth between 2014-08-25 and 2016-09-16
dogs.loc['2014-08-25':'2016-09-16']

                  name      breed  color  height_cm  weight_kg
date_of_birth
2014-08-25        Lucy  Chow Chow  Brown         46         24
2015-04-20      Stella  Chihuahua    Tan         18          2
2016-09-16     Charlie     Poodle  Black         43         24