In [1]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs_srt = dogs.set_index(['breed', 'color']).sort_index()

dogs_srt.loc['Chow Chow': 'Poodle']

                    name  height_cm  weight_kg date_of_birth
breed     color
Chow Chow Brown     Lucy         46         24    2014-08-25
Labrador  Black      Max         59         29    2017-01-20
          Brown    Bella         56         24    2013-07-01
Poodle    Black  Charlie         43         24    2016-09-16