In [1]:
import pandas as pd
wards = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/ward.csv')

wards.head()

,Unnamed: 0,ward,alderman,address,zip
0,0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647
1,1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622
2,2,3,Pat Dowell,5046 SOUTH STATE STREET,60609
3,3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616
4,4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649