In [1]:
import pandas as pd
licenses = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/licenses.csv')

licenses.head()

,account,ward,aid,business,address,zip
0,307071,3,743,REGGIE'S BAR & GRILL,2105 S STATE ST,60616.0
1,10,10,829,HONEYBEERS,13200 S HOUSTON AVE,60633.0
2,10002,14,775,CELINA DELI,5089 S ARCHER AVE,60632.0
3,10005,12,NaN,KRAFT FOODS NORTH AMERICA,2005 W 43RD ST,60609.0
4,10044,44,638,NEYBOUR'S TAVERN & GRILLE,3651 N SOUTHPORT AVE,60613.0