In [6]:
import pandas as pd
grants = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/Small_Business_Grant_Agreements3.csv')
licenses = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/licenses.csv')

grants_licenses = grants.merge(licenses, on='zip')

grants_licenses.loc[grants_licenses['business']=="REGGIE'S BAR & GRILL",
                                         ['grant', 'company', 'account', 'ward', 'business']].head()

,grant,company,account,ward,business
123019,13500.00,Hair Mechanic's Salon,307071,3,REGGIE'S BAR & GRILL
123217,37125.00,West 60622 Family & Community Development Coun...,307071,3,REGGIE'S BAR & GRILL
123415,6305.03,Hair Mechanic's Salon,307071,3,REGGIE'S BAR & GRILL
123613,144200.00,"Celadon Holdings, LLC / Celadon-Pulaski, LLC",307071,3,REGGIE'S BAR & GRILL
123811,25559.50,Frank Williams Enterprises,307071,3,REGGIE'S BAR & GRILL