In [4]:
import pandas as pd
grants = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/Small_Business_Grant_Agreements2.csv')
licenses = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/licenses.csv')

grants_licenses = grants.merge(licenses, on='zip')

grants_licenses.loc[grants_licenses['business']=="REGGIE'S BAR & GRILL",
                                         ['grant', 'company', 'account', 'ward', 'business']]

           grant               company  account  ward              business
247467  42937.04      Grandstand, Ltd.   307071     3  REGGIE'S BAR & GRILL
247665   5831.25      Grandstand, Ltd.   307071     3  REGGIE'S BAR & GRILL
247863    743.00  REGGIE'S BAR & GRILL   307071     3  REGGIE'S BAR & GRILL