In [1]:
import pandas as pd

inv_feb = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/inv_feb.csv')
inv_mar = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/inv_mar.csv')

inv_feb

   iid  cid invoice_date  total
0    7   38   2009-02-01   1.98
1    8   40   2009-02-02   1.98
2    9   42   2009-02-03   3.96

In [2]:
inv_mar

   iid  cid invoice_date  total
0   14   17   2009-03-04   1.98
1   15   19   2009-03-05   1.98
2   16   21   2009-03-06   3.96