In [1]:
import pandas as pd

inv_jan = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/inv_jan.csv')
inv_feb = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/inv_feb2.csv')

inv_jan

   iid  cid invoice_date  total
0    1    2   2009-01-01   1.95
1    2    4   2009-01-02   3.96
2    3    8   2009-01-03   5.94

In [2]:
inv_feb

   iid  cid invoice_date  total bill_ctry
0    7   38   2009-02-01   1.98   Germany
1    8   40   2009-02-02   1.98    France
2    9   42   2009-02-03   3.96    France