In [1]:
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')
dogs['height_m'] = dogs['height_cm'] / 100
dogs['bmi'] = dogs['weight_kg'] / dogs['height_m'] ** 2

bmi_lt_100 = dogs[dogs['bmi'] < 100]
bmi_lt_100_height = bmi_lt_100.sort_values('height_cm', ascending=False)
bmi_lt_100_height[['name', 'height_cm', 'bmi']]

     name  height_cm        bmi
4     Max         59  83.309394
0   Bella         56  76.530612
3  Cooper         49  70.803832
5  Stella         18  61.728395