In [4]:
import pandas as pd
songs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/songs.csv')

songs.head()

,tid,name,artist,genre,gid,year,bpm
0,97,Turning Page,Sleeping At Last,acoustic pop,1,2011,125
1,165,Brave,Sara Bareilles,acoustic pop,1,2013,185
2,208,Foolish Games,Jewel,alaska indie,2,2013,132
3,589,Talk (feat. Disclosure),Khalid,alternative r&b,3,2019,136
4,40,Dog Days Are Over,Florence + The Machine,art pop,4,2010,150

In [5]:
genres = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/songgenres.csv')

genres.head()

   gid             name
0    1     acoustic pop
1    2     alaska indie
2    3  alternative r&b
3    4          art pop
4    5      atl hip hop