In [1]:
import pandas as pd
import matplotlib.pyplot as plt

climate_change = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/5IntroToDataVisMatplotlib/climate_change.csv',
                            parse_dates=['date'],
                            index_col='date')

climate_change

               co2  relative_temp
date
1958-03-06  315.71           0.10
1958-04-06  317.45           0.01
1958-05-06  317.50           0.08
1958-06-06     NaN          -0.05
1958-07-06  315.86           0.06
...            ...            ...
2016-08-06  402.27           0.98
2016-09-06  401.05           0.87
2016-10-06  401.59           0.89
2016-11-06  403.55           0.93
2016-12-06  404.45           0.81

[706 rows x 2 columns]