In [5]:
import pandas as pd
wards = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/ward.csv')
census = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/census.csv')

wards_census = wards.merge(census, on='ward')
wards_census.head(4)

,Unnamed: 0_x,ward,alderman,address_x,zip_x,Unnamed: 0_y,pop_2000,pop_2010,change,address_y,zip_y
0,0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,0,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,1,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,2,40385,53039,31%,17 EAST 38TH STREET,60653
3,3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,3,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653

In [4]:
wards_census.shape

(50, 11)