In [4]:
import pandas as pd

movies = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/movies2.csv',
                    index_col=['id'])
movies.head()

                      original_title  popularity release_date
id
135397                Jurassic World   32.985763     6/9/2015
76341             Mad Max: Fury Road   28.419936    5/13/2015
262500                     Insurgent   13.112507    3/18/2015
140607  Star Wars: The Force Awakens   11.173104   12/15/2015
168259                     Furious 7    9.335014     4/1/2015

In [5]:
movie_to_genres = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/tmdb_movie_to_genres.csv',
                    index_col=['movie_id'])
movie_to_genres.head()

                                             genres
movie_id
135397    Action|Adventure|Science Fiction|Thriller
76341     Action|Adventure|Science Fiction|Thriller
262500           Adventure|Science Fiction|Thriller
140607     Action|Adventure|Science Fiction|Fantasy
168259                        Action|Crime|Thriller