In [2]:
import pandas as pd
movies = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/movies2.csv')

movies.head()

       id                original_title  popularity release_date
0  135397                Jurassic World   32.985763     6/9/2015
1   76341            Mad Max: Fury Road   28.419936    5/13/2015
2  262500                     Insurgent   13.112507    3/18/2015
3  140607  Star Wars: The Force Awakens   11.173104   12/15/2015
4  168259                     Furious 7    9.335014     4/1/2015