In [3]:
import pandas as pd

tracks = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/tracks.csv')
specs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/specs.csv')

tracks.head()

   tid                  name  aid  mtid  gid  u_price
0    2  Love The Way You Lie    2     2    1     0.99
1    3               TiK ToK    3     2    1     0.99
2    4           Bad Romance    3     2    1     0.99

In [4]:
specs.head()

   tid  milliseconds    bytes
0    2        342562  5510424
1    3        230619  3990994
2    2        252051  4331779