In [1]:
import pandas as pd

tracks = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/tracks.csv')
specs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/specs.csv')

tracks.merge(specs, on='tid', 
             validate='one_to_many')

   tid                  name  aid  mtid  gid  u_price  milliseconds    bytes
0    2  Love The Way You Lie    2     2    1     0.99        342562  5510424
1    2  Love The Way You Lie    2     2    1     0.99        252051  4331779
2    3               TiK ToK    3     2    1     0.99        230619  3990994