In [6]:
import pandas as pd
movies = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/movies.csv', 
                     index_col=['id'])
taglines = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/taglines.csv', 
                       index_col=['id'])

movies_taglines = movies.merge(taglines, on='id', how='left')

movies_taglines.head()

,original_title,popularity,release_date,tagline
id,,,,
257,Oliver Twist,20.415572,9/23/2005,NaN
14290,Better Luck Tomorrow,3.877036,1/12/2002,Never underestimate an overachiever.
38365,Grown Ups,38.864027,6/24/2010,Boys will be boys. . . some longer than others.
9672,Infamous,3.680896,11/16/2006,There's more to the story than you know
12819,Alpha and Omega,12.300789,9/17/2010,A Pawsome 3D Adventure