In [3]:
import pandas as pd
movies = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/movies.csv', 
                     index_col=['id'])
taglines = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/taglines.csv', 
                       index_col=['id'])

movies.head()

             original_title  popularity release_date
id
257            Oliver Twist   20.415572    9/23/2005
14290  Better Luck Tomorrow    3.877036    1/12/2002
38365             Grown Ups   38.864027    6/24/2010
9672               Infamous    3.680896   11/16/2006
12819       Alpha and Omega   12.300789    9/17/2010

In [4]:
taglines.head()

                                               tagline
id
19995                      Enter the World of Pandora.
285     At the end of the world, the adventure begins.
206647                           A Plan No One Escapes
49026                                  The Legend Ends
49529             Lost in our world, found in another.