In [1]:
import pandas as pd
movies = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/movies.csv')
taglines = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/taglines.csv')

movies_taglines = movies.merge(taglines, on='id', how='left')
movies_taglines.head()

      id        original_title  popularity release_date
0    257          Oliver Twist   20.415572    9/23/2005
1  14290  Better Luck Tomorrow    3.877036    1/12/2002
2  38365             Grown Ups   38.864027    6/24/2010
3   9672              Infamous    3.680896   11/16/2006
4  12819       Alpha and Omega   12.300789    9/17/2010