In [2]:
import pandas as pd
samuel = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/samuel.csv', 
                     index_col=['movie_id', 
                                'cast_id'])

casts = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/casts2.csv', 
                       index_col=['movie_id',
                                  'cast_id'])

samuel_casts = samuel.merge(casts, on=['movie_id','cast_id'])

samuel_casts.head()

                               name      character
movie_id cast_id
184      3        Samuel L. Jackson  Ordell Robbie
319      13       Samuel L. Jackson        Big Don
326      2        Samuel L. Jackson  Neville Flynn
329      138      Samuel L. Jackson         Arnold
393      21       Samuel L. Jackson          Rufus

In [3]:
samuel_casts.shape

(67, 2)