In [3]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs_ind = dogs.set_index('name')

#Subset the rows where the dog is called Bella or Stella with .isin()
dogs[dogs['name'].isin(['Bella', 'Stella'])]

     name      breed  color  height_cm  weight_kg date_of_birth
0   Bella   Labrador  Brown         56         24    2013-07-01
5  Stella  Chihuahua    Tan         18          2    2015-04-20

In [4]:
#Subset the rows where the dog is called Bella or Stella with .loc[]
dogs_ind.loc[['Bella', 'Stella']]

            breed  color  height_cm  weight_kg date_of_birth
name
Bella    Labrador  Brown         56         24    2013-07-01
Stella  Chihuahua    Tan         18          2    2015-04-20