In [2]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

dogs_ind3 = dogs.set_index(['breed', 'color'])

dogs_ind3.loc[[('Labrador', 'Brown'), ('Chihuahua', 'Tan')]]

                   name  height_cm  weight_kg date_of_birth
breed     color
Labrador  Brown   Bella         56         24    2013-07-01
Chihuahua Tan    Stella         18          2    2015-04-20