In [1]:
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

is_lab = dogs['breed'] == 'Labrador'
is_brown = dogs['color'] == 'Brown'
dogs[is_lab & is_brown]

    name     breed  color  height_cm  weight_kg data_of_birth
0  Bella  Labrador  Brown         56         24    2013-07-01

In [2]:
dogs[(dogs['breed'] == 'Labrador') & (dogs['color'] == 'Brown')]

    name     breed  color  height_cm  weight_kg data_of_birth
0  Bella  Labrador  Brown         56         24    2013-07-01