In [230]:
import pandas as pd
import numpy as np
from datetime import datetime

visa = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/visa.csv')
ibm = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/4JoiningDataWPandasDatasets/ibm.csv')

#Convert values in 'date_time' column to datetime format to ensure the merge_asof function works
visa['date_time'] = pd.to_datetime(visa['date_time'], format='%Y-%m-%d %H:%M:%S')
ibm['date_time'] = pd.to_datetime(ibm['date_time'], format='%Y-%m-%d %H:%M:%S')

pd.merge_asof(visa, ibm, on='date_time', 
              suffixes=('_visa','_ibm'))

            date_time  close_visa  close_ibm
0 2017-11-17 16:00:00    110.3200     149.11
1 2017-11-17 17:00:00    110.2400     149.96
2 2017-11-17 18:00:00    110.0650     149.96
3 2017-11-17 19:00:00    110.0400     149.96
4 2017-11-17 20:00:00    110.0000     149.96
5 2017-11-17 21:00:00    109.9966     149.96
6 2017-11-17 22:00:00    109.8200     149.96