In [1]:
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogs.csv')

#Group dogs by color and average of the dogs' weight
dogs.groupby('color')['weight_kg'].mean()

color
Black    26.5
Brown    24.0
Gray     17.0
Tan       2.0
White    74.0
Name: weight_kg, dtype: float64

In [3]:
#Do the same thing with the pivot table method
dogs.pivot_table(values='weight_kg',
                 index='color')

       weight_kg
color
Black       26.5
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0