In [1]:
import numpy as np
import pandas as pd
dogs = pd.read_csv('C:/Users/nswat/Documents/DataCamp/Datasets/PersonalDatasets/dogsMissingValues.csv')

dogs.dropna()

      name        breed  color  height_cm  weight_kg date_of_birth
1  Charlie       Poodle  Black         43       24.0     9/16/2016
2     Lucy    Chow Chow  Brown         46       24.0     8/25/2014
4      Max     Labrador  Black         59       29.0     1/20/2017
5   Stella    Chihuahua    Tan         18        2.0     4/20/2015
6   Bernie  St. Bernard  White         77       74.0     2/27/2018